@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import 'bootstrap/dist/css/bootstrap.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
}
ul a:hover,
li a:hover {
  color: #003B84;
  font-weight: 500;
}

.owl-dot {
  box-shadow: none !important;
}
.owl-dot span {
  width: 8px !important;
  height: 8px !important;
}

section {
  padding: 1rem 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: #003B84;
  font-weight: 500;
}

.btn {
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-size: 0.95rem;
  outline: none;
  background-color: #003B84;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: 0.2s all ease-in-out;
}
.btn:hover {
  color: #fff;
  background-color: #004ead;
}

.toggle-nav {
  position: absolute;
  top: -2rem;
  right: 0rem !important;
  z-index: 30;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 1.5rem !important;
  min-height: 100vh !important;
  height: 100% !important;
  background: #fff;
  padding: 4rem 1.5rem;
  padding-top: 7rem;
  width: 60% !important;
}
.toggle-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
@media (min-width: 430px) and (max-width: 575px) {
  .toggle-nav {
    width: 45% !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .toggle-nav {
    width: 40% !important;
  }
}

.home-wrapper .main-container header {
  position: relative;
}
.home-wrapper .main-container header .container .row .col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.5rem 0.6rem;
}
@media (max-width: 767px) {
  .home-wrapper .main-container header .container .row .col {
    padding: 1rem 0.6rem;
  }
}
.home-wrapper .main-container header .container .row .col a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 575px) {
  .home-wrapper .main-container header .container .row .col a span:nth-child(2) {
    display: none;
  }
}
.home-wrapper .main-container header .container .row .col a img {
  width: 4.5rem;
}
@media (max-width: 767px) {
  .home-wrapper .main-container header .container .row .col a img {
    width: 3rem;
  }
}
.home-wrapper .main-container header .container .row .col a span {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container header .container .row .col a span {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .home-wrapper .main-container header .container .row .col a span {
    font-size: 1.2rem;
  }
}
@media (max-width: 575px) {
  .home-wrapper .main-container header .container .row .col a span {
    font-size: 1rem;
  }
}
.home-wrapper .main-container header .container .row .col a .mbl {
  display: none;
}
@media (max-width: 575px) {
  .home-wrapper .main-container header .container .row .col a .mbl {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container header .container .row .col a .mbl {
    display: flex;
  }
}
@media (max-width: 767px) {
  .home-wrapper .main-container header .container .row .col nav {
    display: none;
  }
}
.home-wrapper .main-container header .container .row .col nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 767px) {
  .home-wrapper .main-container header .container .row .col nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (min-width: 992px) {
  .home-wrapper .main-container header .container .row .col nav ul {
    gap: 2.5rem;
  }
}
.home-wrapper .main-container header .container .row .col nav ul li {
  padding: 5px 0;
  font-weight: 500;
  font-size: 0.9rem;
}
@media (min-width: 992px) {
  .home-wrapper .main-container header .container .row .col nav ul li {
    font-size: 0.95rem;
  }
}
.home-wrapper .main-container header .container .row .col #hamburger {
  position: relative;
  z-index: 100;
  font-size: 1.3rem;
  padding: 0.15rem 0.45rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(34, 34, 34, 0.5215686275);
}
@media (min-width: 768px) {
  .home-wrapper .main-container header .container .row .col #hamburger {
    display: none;
  }
}
.home-wrapper .main-container .hero {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-wrapper .main-container .hero .image-wrapper {
  width: 100%;
  height: 565px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .hero .image-wrapper {
    height: 400px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .home-wrapper .main-container .hero .image-wrapper {
    height: 400px;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .home-wrapper .main-container .hero .image-wrapper {
    height: 250px;
  }
}
@media (max-width: 359px) {
  .home-wrapper .main-container .hero .image-wrapper {
    height: 200px;
  }
}
.home-wrapper .main-container .hero .image-wrapper .content {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(20%, -50%);
  z-index: 99;
  width: 40%;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .hero .image-wrapper .content {
    width: 60%;
    transform: translate(13%, -50%);
  }
}
@media (max-width: 767px) {
  .home-wrapper .main-container .hero .image-wrapper .content {
    width: 80%;
    top: 47%;
    transform: translate(13%, -50%);
  }
}
@media (max-width: 575px) {
  .home-wrapper .main-container .hero .image-wrapper .content {
    display: none;
  }
}
.home-wrapper .main-container .hero .image-wrapper .content .divider {
  width: 50px;
  height: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
}
.home-wrapper .main-container .hero .image-wrapper .content span {
  margin-bottom: 0.3rem;
}
.home-wrapper .main-container .hero .image-wrapper .content span h5 {
  font-size: 1.1rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
}
.home-wrapper .main-container .hero .image-wrapper .content h1 {
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
}
.home-wrapper .main-container .hero .image-wrapper .content P {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
}
.home-wrapper .main-container .hero .image-wrapper .content a {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
  background-color: #fff;
  color: #000;
}
.home-wrapper .main-container .hero .image-wrapper .content a:hover {
  background-color: #f3f3f3;
  color: #000000;
}
.home-wrapper .main-container .hero .image-wrapper span.bg-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 100, 152);
  background: linear-gradient(90deg, rgb(0, 100, 152) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: 90;
}
.home-wrapper .main-container .hero .image-wrapper img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  z-index: 80;
}
@media (max-width: 991px) {
  .home-wrapper .main-container .hero .image-wrapper img {
    top: 0%;
    transform: translateY(0%);
  }
}
.home-wrapper .main-container .about {
  padding-top: 4rem;
  padding-bottom: 5rem;
}
@media (max-width: 575px) {
  .home-wrapper .main-container .about {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.home-wrapper .main-container .about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .about .container .row1 .col h2 {
  text-align: center;
}
.home-wrapper .main-container .about .container .row1 .col h2 .divider {
  width: 200px;
  height: 5px;
  background: #003B84;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .about .container .row2 {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .about .container .row2 {
    justify-content: center;
  }
}
.home-wrapper .main-container .about .container .row2 .col1 .main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.home-wrapper .main-container .about .container .row2 .col1 .main-wrapper .image1 {
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}
.home-wrapper .main-container .about .container .row2 .col1 .main-wrapper .image1 img {
  border-radius: 5px;
  height: 17rem;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 360px) and (max-width: 575px) {
  .home-wrapper .main-container .about .container .row2 .col1 .main-wrapper .image1 img {
    height: 13rem;
  }
}
.home-wrapper .main-container .about .container .row2 .col1 .main-wrapper .image2 {
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}
.home-wrapper .main-container .about .container .row2 .col1 .main-wrapper .image2 img {
  border-radius: 5px;
  height: 17rem;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 360px) and (max-width: 575px) {
  .home-wrapper .main-container .about .container .row2 .col1 .main-wrapper .image2 img {
    height: 13rem;
  }
}
.home-wrapper .main-container .about .container .row2 .col2 .main-wrapper .image3 {
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
  object-position: center center !important;
}
.home-wrapper .main-container .about .container .row2 .col2 .main-wrapper .image3 img {
  border-radius: 5px;
  height: 28rem;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 360px) and (max-width: 575px) {
  .home-wrapper .main-container .about .container .row2 .col2 .main-wrapper .image3 img {
    height: 23rem;
  }
}
.home-wrapper .main-container .about .container .row2 .col3 {
  padding: 0 1.5rem;
}
@media (max-width: 991px) {
  .home-wrapper .main-container .about .container .row2 .col3 {
    margin-top: 3rem;
  }
}
.home-wrapper .main-container .about .container .row2 .col3 .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
@media (max-width: 991px) {
  .home-wrapper .main-container .about .container .row2 .col3 .main-wrapper {
    align-items: center;
    gap: 0.7rem;
  }
}
.home-wrapper .main-container .about .container .row2 .col3 .main-wrapper p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #8b8e94;
}
.home-wrapper .main-container .about .container .row2 .col3 .main-wrapper a {
  margin-top: 0.5rem;
}
.home-wrapper .main-container .featured-banner {
  padding: 2.5rem 1rem;
  background: rgb(0, 100, 152);
  background: linear-gradient(0deg, rgb(0, 100, 152) 0%, rgb(0, 117, 180) 100%);
  width: 100%;
}
@media (max-width: 767px) {
  .home-wrapper .main-container .featured-banner {
    padding: 3.5rem 1rem;
  }
}
.home-wrapper .main-container .featured-banner .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
@media (max-width: 767px) {
  .home-wrapper .main-container .featured-banner .container .row {
    justify-content: center;
    gap: 2rem;
  }
}
.home-wrapper .main-container .featured-banner .container .row .col {
  display: flex;
  justify-content: center;
}
.home-wrapper .main-container .featured-banner .container .row .col .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .featured-banner .container .row .col .main-wrapper h2 {
  font-size: 3rem;
}
.home-wrapper .main-container .featured-banner .container .row .col .main-wrapper p {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}
.home-wrapper .main-container .courses {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: rgb(228, 247, 255);
  background: linear-gradient(90deg, rgb(228, 247, 255) 0%, rgb(246, 252, 255) 100%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .courses {
    padding-top: 3rem;
  }
}
@media (max-width: 575px) {
  .home-wrapper .main-container .courses {
    margin-top: 0;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
}
.home-wrapper .main-container .courses .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .courses .container .row1 .col h2 {
  text-align: center;
}
.home-wrapper .main-container .courses .container .row1 .col h2 .divider {
  width: 200px;
  height: 5px;
  background: #003B84;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .courses .container .row2 {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}
.home-wrapper .main-container .courses .container .row2 .col1 {
  padding: 1rem;
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1843137255);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.035);
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper .image {
  border-radius: 5px;
  width: 100%;
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper .image img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper .content {
  padding: 0 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper .content .date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper .content .date span {
  font-size: 0.9rem;
}
.home-wrapper .main-container .courses .container .row2 .col1 .main-wrapper .content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.3rem 0;
}
.home-wrapper .main-container .hospitals {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .hospitals {
    padding-top: 3rem;
  }
}
@media (max-width: 575px) {
  .home-wrapper .main-container .hospitals {
    margin-top: 0;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
}
.home-wrapper .main-container .hospitals .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .hospitals .container .row1 .col h2 {
  text-align: center;
}
.home-wrapper .main-container .hospitals .container .row1 .col h2 .divider {
  width: 150px;
  height: 5px;
  background: #003B84;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .hospitals .container .row2 {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .home-wrapper .main-container .hospitals .container .row2 {
    flex-direction: column;
  }
}
.home-wrapper .main-container .hospitals .container .row2 .col1 {
  padding: 1rem;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgba(34, 34, 34, 0.1843137255);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.035);
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .image {
  border-radius: 5px;
  width: 100%;
  flex: 1;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .image img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .content {
  padding: 0 1rem;
  flex: 1;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .content h2 {
  font-size: 1.1rem;
  font-weight: 500;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .content div {
  display: flex;
  align-items: flex-start;
  gap: 0.3rem;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .content div i {
  padding: 0;
  margin: 0;
  margin-top: -0.2rem;
}
.home-wrapper .main-container .hospitals .container .row2 .col1 .main-wrapper .content div span {
  font-size: 0.8rem;
}
.home-wrapper .main-container .news {
  padding-top: 0rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .news {
    padding-top: 3rem;
  }
}
@media (max-width: 575px) {
  .home-wrapper .main-container .news {
    margin-top: 0;
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
}
.home-wrapper .main-container .news .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .news .container .row1 .col h2 {
  text-align: center;
}
.home-wrapper .main-container .news .container .row1 .col h2 .divider {
  width: 150px;
  height: 5px;
  background: #003B84;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .news .container .row2 {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}
.home-wrapper .main-container .news .container .row2 .col1 {
  padding: 1rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1843137255);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.035);
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .image {
  border-radius: 5px;
  width: 100%;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .image img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content .date {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content .date span {
  font-size: 0.9rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content p {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content a {
  background: none;
  color: #003B84;
  font-weight: 500;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.home-wrapper .main-container .news .container .row2 .col1 .main-wrapper .content a i {
  font-size: 1rem;
}
.home-wrapper .main-container .events {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: rgb(0, 100, 152);
  background: linear-gradient(0deg, rgb(0, 100, 152) 0%, rgb(0, 117, 180) 100%);
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .events {
    padding-top: 3rem;
  }
}
.home-wrapper .main-container .events .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .events .container .row1 .col h2 {
  text-align: center;
  color: #fff;
}
.home-wrapper .main-container .events .container .row1 .col h2 .divider {
  width: 150px;
  height: 5px;
  background: #fff;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .events .container .row2 {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
}
.home-wrapper .main-container .events .container .row2 .col1 {
  padding: 1rem;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1843137255);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.035);
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .image {
  border-radius: 5px;
  width: 100%;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .image img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content .date {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content .date i {
  color: #fff;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content .date span {
  color: #fff;
  font-size: 0.9rem;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
  color: #fff;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content p {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content a {
  background: none;
  color: #fff;
  font-weight: 500;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.home-wrapper .main-container .events .container .row2 .col1 .main-wrapper .content a i {
  font-size: 1rem;
}
.home-wrapper .main-container .gallery {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrapper .main-container .gallery {
    padding-top: 3rem;
  }
}
.home-wrapper .main-container .gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container .gallery .container .row1 .col h2 {
  text-align: center;
}
.home-wrapper .main-container .gallery .container .row1 .col h2 .divider {
  width: 150px;
  height: 5px;
  background: #003B84;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .gallery .container .row2 {
  margin-top: 2.5rem;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image1 {
  grid-area: 1/1/3/3;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image1 img {
  border-top-left-radius: 1rem;
  object-fit: cover;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image2 {
  grid-area: 1/3/2/5;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image2 img {
  height: 100%;
  object-fit: cover;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image3 {
  grid-area: 2/3/3/4;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image3 img {
  height: 100%;
  object-fit: cover;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image4 {
  grid-area: 2/4/3/5;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image4 img {
  height: 100%;
  object-fit: cover;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image5 {
  grid-area: 1/5/2/6;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image5 img {
  height: 100%;
  object-fit: cover;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image6 {
  grid-area: 1/6/2/7;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image6 img {
  height: 100%;
  object-fit: cover;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image7 {
  grid-area: 2/5/3/7;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .gallery .container .row2 .main-wrapper .image7 img {
  border-bottom-right-radius: 1rem;
  height: 100%;
  object-fit: cover;
}
.home-wrapper .main-container .message-wrapper {
  background-image: url(/images/message-bg.jpg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom center;
  padding: 0;
}
.home-wrapper .main-container .message-wrapper .bg-color {
  background-color: rgba(0, 0, 0, 0.6901960784);
  width: 100%;
  height: 100%;
  padding: 5rem 1rem;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row1 {
  margin-bottom: 3rem;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row1 .col h2 {
  text-align: center;
  color: #fff;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row1 .col h2 .divider {
  width: 100px;
  height: 5px;
  background: #ffffff;
  margin: auto;
  border-radius: 20px;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row {
  display: flex;
  justify-content: center;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper {
  width: 100%;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.9490196078);
  border-radius: 1rem;
}
@media (max-width: 575px) {
  .home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message {
    flex-direction: column;
  }
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .image {
  flex: 1;
  width: 100%;
  height: 100%;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .image img {
  object-fit: cover;
  height: 17rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media (min-width: 576px) and (max-width: 767px) {
  .home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .image img {
    height: 20rem;
  }
}
@media (max-width: 575px) {
  .home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .image img {
    object-position: top center;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .content {
  flex: 2;
  color: #000;
  padding: 1rem;
  padding-right: 1.5rem;
}
@media (max-width: 575px) {
  .home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .content {
    padding-top: 0;
    font-size: 0.85rem;
  }
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .content p {
  opacity: 0.9;
}
.home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .content h6 {
  opacity: 0.8;
}
@media (max-width: 575px) {
  .home-wrapper .main-container .message-wrapper .bg-color .container .row .col .main-wrapper .message .content h6 {
    font-size: 0.85rem;
  }
}
.home-wrapper .main-container footer {
  width: 100%;
  background: rgb(0, 100, 152);
  background: linear-gradient(0deg, rgb(0, 100, 152) 0%, rgb(0, 117, 180) 100%);
  padding: 4rem 1rem;
  padding-bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper .main-container footer .container .row {
  display: flex;
  justify-content: center;
}
.home-wrapper .main-container footer .container .row .main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .home-wrapper .main-container footer .container .row .main-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
.home-wrapper .main-container footer .container .row .main-wrapper .col1 .wrapper h4 {
  margin-bottom: 1.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col1 .wrapper p {
  font-size: 0.9rem;
  line-height: 2;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col1 .wrapper div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col1 .wrapper div a {
  color: inherit;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col1 .wrapper div a i {
  font-size: 1.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col2 .wrapper h4 {
  margin-bottom: 1.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col2 .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col2 .wrapper ul li {
  list-style-type: none;
  font-size: 0.94rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col2 .wrapper ul li a {
  color: inherit;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col3 .wrapper h4 {
  margin-bottom: 1.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col3 .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col3 .wrapper ul li {
  list-style-type: none;
  font-size: 0.94rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col3 .wrapper ul li div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.home-wrapper .main-container footer .container .row .main-wrapper .col3 .wrapper ul li div span {
  font-size: 0.94rem;
}
.home-wrapper .main-container footer .copyright {
  padding: 1.2rem 1rem;
  margin-bottom: 1.3rem;
  opacity: 0.7;
}
.home-wrapper .main-container footer .copyright .container .row .col .wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
@media (max-width: 991px) {
  .home-wrapper .main-container footer .copyright .container .row .col .wrapper {
    flex-direction: column;
    gap: 0.3rem;
  }
}
.home-wrapper .main-container footer .copyright .container .row .col .wrapper p {
  padding: 0;
  margin: 0;
}
@media (max-width: 575px) {
  .home-wrapper .main-container footer .copyright .container .row .col .wrapper p {
    font-size: 0.8rem;
  }
}
.home-wrapper .main-container footer .copyright .container .row .col .wrapper p a {
  color: inherit;
}